---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Terminal from "../components/terminal";


---

<script></script>

<style>
  .icon-items:hover{
    border: 1px solid #6C63FF;
    transition: 500ms ease-in;
}

.top-bar{
  border-top: 1px solid;
  border: 1px solid #6C63FF;
  border-color: #6C63FF;
  transition: border 0.5s ease-in;
}
.top-bar:hover{
  border-top: 100%;

}
</style>

<Layout title="phaneendra">
  <main class="w-screen">
		<Terminal client:load />
	</main>


</Layout>
