---
import About from '../components/Home/about';
import Skills from '../components/Home/skills';
import Projects from '../components/projects/Projects';
import Layout from '../layouts/Layout.astro';

---

<Layout title="phaneendra" >
    <div  class="text-white  w-full h-5">
            <About />
            
            <Skills />

    <Projects />

    </div>

</Layout>

