---

    const list = [
        {
        name :"About",
        url : "/"
    }
    ,
    { name : "Projects",
    url : '/projects'
},{
    name : "Resume",
    url : '/resume'
}]

---

    <div class="flex  gap-5">
            {list.map(i=>{
                return(
                    <div  class="hover:bg-[#1f232e] p-2 px-2 rounded-sm">
                        {i.name}
                    </div>
                )
            })}
    </div>

<script >
</script>